.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#qwerty{
    border-width:50px;
    background-color: white;
    border-style: ridge;
}

